<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="
    <link rel="stylesheet" type="text/css" href="{% static 'rst2html/style.css' %}"/>
</head>
<body>
<div class="container">
    <h1>
        <ins>Upload Image Page</ins>
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="pic" accept="image/*"><br>
        <button class="btn btn-primary btn-block" formaction="{% url 'rst2html:uploadImage' %}">Upload Image</button>
    </form>

</div>
</body>
</html>
