<!DOCTYPE html>


<html ng-app="app">
  <head>
    {% load staticfiles %}

    <script src="{%static 'rst2html/js/javascript.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rst2html/style.css' %}"
</head>
<body >

<h1 align="center">RST To HTML</h1>
<div id ="input">
<form style="text-align: center" >
<input type="text"  name="SlideName" placeholder="Enter a project name here"></input>
<select name="style">
    <option value=" ">clean</option>
    <option value="--deck-js --pretty-print-code --embed-content ">deck</option>
    <option value="--jquery --reveal-js --pretty-print-code ">reveal</option>
    <option value="--bootstrap-css --pretty-print-code --jquery --embed-content ">bootstrap</option>
 </select>
<input type="submit" value="Preview" formaction="{% url 'rst2html:Preview' %}" target="_blank"/>
<input type="submit" value="save" formaction="{% url 'rst2html:save' %}" />
<br/>	
<textarea id ="myTextBox"name="myTextBox" cols="150" rows="50" wrap ="off" placeholder="Enter a text here"></textarea>
for

</form>
</div>
<div id ="tools">

<form action="{% url 'rst2html:uploadImagePage' %}" style="display: inline;" target="_blank">
<input type="submit" value="Upload Image"></form>
<select id="imageselect">
{% for image in imagelist %}
<option value= {{ image }}> {{ image }}</option>
{% endfor %}

 </select>
<button onclick="insertAtCaret('myTextBox','.. image:: data/')">Add select image</button>
<form><input type="submit" value="clearUpload" formaction="{% url 'rst2html:clearUpload' %}" /></form>

</div>


</body>
</html>



