li a {
    color: White ;
}
body {
    background: white url("images/bg.jpg") repeat center top;
}

h1 {
    color: white;
}


textarea {
  resize : both;
  border: 1px solid #888; 
}
#tools {

}
#input {
  float:left;
}
